/*colors
darkblue: #121C4E;
pedestrialblue: #102766;
base_orange: #D67556;
base_orange2: #E88C6F;
white: #fff;
background : linear-gradient(#383372, #1845B8 75%, #2E3869);
*/


/*reset*/
body {
    /*style*/
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#383372, #1845B8 75%, #2E3869);
    /*reset*/
    margin: 0;
}

/*generals*/

header, footer {
    background: #121C4E;
    padding: 0.5rem 1.5rem;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    color: #fff;
    line-height: 1;
    border-bottom: 6px dotted #E09323;
}

/*le menu burger*/

.menu,
.active-menu {
    width: 60px;
    height: 60px;
    padding: 2px;
    position: relative;
    cursor: pointer;
}

.menu-burger{
    display: block;
    width: 50px;
    height: 5px;
    background: #FCFCFC;
    position: absolute;
    top:50%;
    left:10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.menu-burger:before,
.menu-burger:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    border-radius: 3%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: 0.5s;
}

.menu-burger:before{
    top: -16px;
}

.menu-burger:after {
    top: 16px;
}

.active-menu .menu-burger {
    width: 0;
    height: 0;
}

/*animation burger*/

.active-menu .menu-burger:before {
    top: 0;
    transform:rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.active-menu .menu-burger:after {
    top: 0;
    transform:rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


header nav{
    display: none;
}

header nav ul{
    /*reset*/
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    /**/
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5rem;
}

header nav ul li {
    /*reset*/
    padding: 2.5rem 0;
    width: 100%;
    text-align: center;

}

header nav ul li:hover {
    background: #E09323;
}

header nav ul li a {
    /*reset*/
    font-family: "sans-serif", sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
}

header nav ul li:hover a {
    color: #121C4E;
}

header .active-menu {
    display: block;
}

header .active-menu ~ nav {
    display: block;
    width: 100%;
    height: 90vh;
    background: #121C4E;
    z-index: 100;
}

header a, footer a{
    color: #fff;
}


/*bottom*/

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

/*scene*/

.pedestrial,
.rose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pedestrial .bottom-p {
    width: 16rem;
    /*dans mon systeme, la heigt du pedestrial peut-être modifié*/
    height: 8rem;
    z-index: 1;
}

.pedestrial .top-p {
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 16rem;
    height: 3rem;
    border-radius: 50%;
    background: #102766;
    z-index: 1;
}

.bottom, .bottom-p{
    background: #121C4E;
}

/*la rose */

.rose {
    z-index: 2
}

.cloche {
    position: absolute;
    top:-18rem;
    left: -5rem;
    z-index: 4;
}

.rose-fleur{
    position: absolute;
    top:-15.8rem;
    left: -4.2rem;
    z-index: 3;
}

/*petal caché*/

.petal,
.petal_2 {
    position: absolute;
    top:-14.8rem;
    left: 0;
    opacity: 0;
}

/*animation de la rose */

.fallout {
    animation: fallout 4s 2s linear infinite reverse;
    /*animation: fallout 5s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite reverse;*/
}

.fallout-2 {
    animation: fallout 4s 5s linear infinite reverse;
    /*animation: fallout 5s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite reverse;*/
}

@keyframes fallout {
    0% {
        transform: translateX(0) translateY(8.2rem) rotate(20deg);
        opacity: 0;
    }
    1%{
        transform: translateX(0) translateY(8.2rem) rotate(20deg);
        opacity: 1;
        z-index: 4;
    }
    25%{
        transform: translateX(-1rem) translateY(5.5rem) rotate(20deg);
    }
    35% {
        transform: translateX(1rem) translateY(3.5rem) rotate(-20deg);
    }
    55% {
        transform: translateX(-1rem) translateY(.5rem) rotate(20deg);
    }
    70%{
        transform: translateX(-2rem) translateY(1rem) rotate(-20deg);
        opacity: 1;
    }
    99%{
        transform: translateX(-2rem) translateY(1rem) rotate(20deg);
        opacity: 1;
    }
    100% {
        transform: translateX(-2rem) translateY(1rem) rotate(20deg);
        opacity: 0;
    }
}

/* parchemin*/

.parchemin{
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%);
    z-index: 5
}

.rouleau_1, .rouleau_2{
    width: 20rem;
    z-index: 1;
}

.rouleau_1{
    margin-bottom: -2.5rem;
}

.rouleau_2{
    margin-top: -2.5rem;
}

.rouleau_img{
    width: 100%;
    box-shadow: 0 2px 100px rgba(0, 0, 0, .2);
}

.message {
    margin: auto;
    width: 13rem;
    padding: 3rem 2rem;
    background: #EEC684;
}

.overflow {
    height: 8rem;
    overflow-y: hidden;
}

.rouleau_2 {
    position: relative;
}

.scroll {
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background: transparent;
    border:transparent;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;
}

.down::after,
.up::after {
    font-size: 1.8rem;
    color: #E09323;
    margin-left: .3rem;
}

.down::after {
    content:"↡";
}

.up::after{
    content:"↟";
}

/*Todo: corriger mediaquerie*/
/* mediaqueries*/

@media (max-width: 800px) and (orientation: portrait) {

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
    }

    .pedestrial .bottom-p {
        width: 16rem;
        height: 30vh;
        z-index: 1;
    }

    .pedestrial,
    .rose {
        position: absolute;
        top: 70%;
        left: 20%;
    }

    /* parchemin*/

    .parchemin{
        position: absolute;
        left: 75%;
        bottom: 35%;
        transform: translate(-50%);
        z-index: 5
    }

}

@media (max-width: 1080px) {

    .parchemin{
        position: absolute;
        left: 65%;
        bottom: 35%;
        transform: translate(-50%);
        z-index: 5
    }

    /*TODO: trouver une solution pour les rouleau*/
    .rouleau_1, .rouleau_2{
        width: 45rem;
        height: 3rem;
        background: #EEC684;
        z-index: 1;
    }

    .rouleau_img {
        display: none;
    }

    .message {
        width: 40rem;
        height: 35vh;
        padding: 3rem 2rem;
    }

}

@media (max-height: 600px) and (orientation: landscape){

    .scene {
        display: none;
    }

    .parch-section {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        z-index: 10;
    }

    .parchemin{
        position: relative;
        width: 80%;
        margin: 0;
        height: fit-content;
    }

    .rouleau_1, .rouleau_2{
        width: 100%;
        height: 3rem;
        background: #EEC684;
        z-index: 1;
    }

    .rouleau_img {
        display: none;
    }

    .message {
        width: 80%;
        height: fit-content;
        padding: 2rem;
        overflow: scroll;
    }

}




