/*colors
darkblue: #121C4E;
pedestrialblue: #102766;
base_orange: #D67556;
base_orange2: #E88C6F;
white: #fff;
background : linear-gradient(#383372, #1845B8 75%, #2E3869);
*/


/*reset*/
body {
    background: linear-gradient(#383372, #1845B8 75%, #2E3869);
    margin: 0;
}

/*generals*/

header, footer {
    background: #121C4E;
    padding: 0.5rem 1.5rem;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    color: #fff;
    line-height: 1;
    border-bottom: 6px dotted #E09323;
}

/*le menu burger*/

.menu,
.active-menu {
    width: 60px;
    height: 60px;
    padding: 2px;
    position: relative;
    cursor: pointer;
}

.menu-burger{
    display: block;
    width: 50px;
    height: 5px;
    background: #FCFCFC;
    position: absolute;
    top:50%;
    left:10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.menu-burger:before,
.menu-burger:after {
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    border-radius: 3%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: 0.5s;
}

.menu-burger:before{
    top: -16px;
}

.menu-burger:after {
    top: 16px;
}

.active-menu .menu-burger {
    width: 0;
    height: 0;
}

/*animation burger*/

.active-menu .menu-burger:before {
    top: 0;
    transform:rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.active-menu .menu-burger:after {
    top: 0;
    transform:rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


header nav{
    display: none;
}

header nav ul{
    /*reset*/
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    /**/
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5rem;
}

header nav ul li {
    /*reset*/
    padding: 2.5rem 0;
    width: 100%;
    text-align: center;

}

header nav ul li:hover {
    background: #E09323;
}

header nav ul li a {
    /*reset*/
    font-family: "sans-serif", sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
}

header nav ul li:hover a {
    color: #121C4E;
}

header .active-menu {
    display: block;
}

header .active-menu ~ nav {
    display: block;
    width: 100%;
    height: 90vh;
    background: #121C4E;
    z-index: 100;
}

header a, footer a{
    color: #fff;
}


/*bottom*/

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

/*TODO :position à modifier en responsive*/
.pedestrial, .rose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pedestrial .bottom-p {
    width: 16rem;
    /*dans mon systeme, la heigt du pedestrial peut-être modifié*/
    height: 8rem;
    z-index: 1;
}

.pedestrial .top-p {
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 16rem;
    height: 3rem;
    border-radius: 50%;
    background: #102766;
    z-index: 1;
}

.bottom, .bottom-p{
    background: #121C4E;
}

/*la rose */

.rose {
    z-index: 2
}

.cloche {
    position: absolute;
    top:-18rem;
    left: -5rem;
    z-index: 4;
}

.rose-fleur{
    position: absolute;
    top:-15.8rem;
    left: -4.2rem;
    z-index: 3;
}

/*petal caché*/

/*.petal,*/
/*.petal_2 {*/
/*    position: absolute;*/
/*    top:-14.8rem;*/
/*    left: 0;*/
/*}*/


.petal,
.petal_2 {
    position: absolute;
    top:-6rem;
}

.petal {
    left: 1.5rem;
}

.petal_2 {
    left: -3.5rem;
}
